<html>
<head>
  <title>Shortly</title>
  <script src="/client/app.js"></script>
  <script src="/lib/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <%= yield %>
</body>
</html>